.modal-overlay {
    font: var(--font-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-dark-purple-bg-dropfown);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1; }
}

.modal-container {
    width: 90%;
    max-width: 70vh;
    height: 70vh;
    background: var(--color-white);
    border-radius: var(--border-radius-primary);
    box-shadow: 0 0 20px var(--color-white);
    overflow: auto;
    animation: slideUp 0.3s ease-out;
    position: relative;
}

.modal-container::-webkit-scrollbar {
    width: 15px;
}

.modal-container::-webkit-scrollbar-track {
    border-radius: 0 50px 50px 0;
    margin: 0 50px;
    background: var(--color-grey);
}

.modal-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    transition: all 0.3s ease;
    background: var(--color-primary-dark-blue-bg);
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px 0 30px;
}

.modal-title {
    font: var(--text-title-form);
    align-self: flex-start;
}

.modal-close-btn {
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
    font-size: 30px;
}

.modal-body {
    padding: 0 30px;
}

.modal-label {
    display: block;
    font: var(--text-primary-label);
    margin-bottom: 20px;
}

.modal-type-toggle {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.modal-type-btn {
    flex: 1;
    height: 56px;
    background: var(--color-white);
    border: 1px solid var(--color-grey-border);
    border-radius: var(--border-radius-secondary);
    font: var(--text-input);
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-type-btn.active {
    background: var(--color-primary-dark-purple-sidebar);
    box-shadow: 0 0 20px var(--color-primary-dark-purple-sidebar);
    color: var(--color-white);
}

.modal-search-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.modal-input {
    width: 100%;
    height: 56px;
    border: none;
    background: var(--color-grey-bg-input);
    border-radius: var(--border-radius-secondary);
    font: var(--text-placeholder);
    padding: 0 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.modal-input:focus {
    border: 1px solid var(--color-primary-dark-blue-bg);
}

.modal-input[readonly] {
    cursor: not-allowed;
}

.modal-search-dropdown {
    /*position: absolute;*/
    width: calc(100% - 5px);
    top: 60px;
    border: 1px solid var(--color-primary-dark-blue-bg);
    border-radius: 0 0 10px 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    box-shadow: 0 5px 10px var(--color-grey-border);
    max-height: 100px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal-search-item {
    padding: 12px 20px;
    font: var(--text-placeholder);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.modal-search-item::after {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 1px;
    background: var(--color-grey-border);
    z-index: 200;
}

.modal-search-item:last-child::after {
    display: none;
}

.modal-search-item:hover {
    background: var(--color-grey-bg-input);
}

.modal-row {
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.modal-field {
    flex: 1;
}

.modal-select-wrapper {
    position: relative;
    width: 100%;
}

.modal-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.modal-select option {
    background: var(--color-white);
}

.modal-textarea {
    height: auto;
    min-height: 100px;
    padding: 15px 25px;
    resize: vertical;
    line-height: 1.5;
}

.modal-select-icon {
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: var(--color-primary-dark-blue-bg);
    pointer-events: none;
    z-index: 2;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 24px 30px 24px 30px;
}

.modal-continue-btn {
    width: 50%;
    height: 56px;
    background: var(--color-medium-pink);
    border: none;
    border-radius: var(--border-radius-secondary);
    font: var(--text-input);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-continue-btn:disabled,
.modal-submit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.modal-cancel-btn,
.modal-submit-btn{
    width: 150px;
    height: 56px;
    border: 1px solid var(--color-grey-border);
    border-radius: var(--border-radius-secondary);
    font: var(--text-input);
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-submit-btn {
    background: var(--color-medium-pink);
    border: none;
    color: var(--color-white);
}

.modal-error-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-error {
    color: var(--color-error-red);
    font: 600 16px var(--font-primary);
}