@media (max-width: 650px) {
    .fg-card {
        max-width: 350px;
        margin: 0 30px;
        padding: 43px 30px 39px;
    }
    .fg-title {
        font: var(--text-title-mobile);
    }
    .fg-subtitle {
        font: var(--text-subtitle-mobile);
    }
    .fg-input {
        padding: 10px 45px 10px 17px;
        font: var(--text-input-mobile);
    }
    .fg-input::placeholder {
        font: var(--text-placeholder-mobile);
    }
    .fg-back-link {
        font: var(--text-link-mobile);
    }
    .fg-submit-btn {
        font: var(--text-placeholder-mobile);
        padding: 9px;
    }
    .red-queen {
        bottom: -50px;
        width: 200px;
    }
    .mad-hatter {
        width: 200px;
    }
    .cards {
        position: absolute;
        top: 70px;
        right: 35px;
        width: 100px;
        height: auto;
        z-index: 100;
    }
    .chesire-cat {
        top: -100px;
        left: -30px;
    }
}