.main-layout {
    display: flex;
    min-height: 100vh;
    background: var(--color-primary-dark-blue-bg);
    font-family: var(--font-primary), sans-serif;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.main-layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    width: calc(1005 - 250px);
}

.main-layout--collapsed .main-layout-content {
    margin-left: 0;
}

.main-layout-main {
    flex: 1;
    padding: 32px;
    overflow-y: auto;
    box-sizing: border-box;
}