@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Moirai+One&family=Outfit:wght@100..900&display=swap');

:root {
    /* ===== FONT ===== */
    --font-primary: 'Anek Latin';
    --font-logo: 'Moirai One';

    --text-logo: 1000 34px var(--font-logo);
    --text-title: 800 36px var(--font-primary);
    --text-title-form: 600 28px var(--font-primary);
    --text-primary-label: 600 16px var(--font-primary);
    --text-secondary-label: 500 16px var(--font-primary);
    --text-subtitle: 500 16px var(--font-primary);
    --text-input: 600 16px var(--font-primary);
    --text-error: 500 14px var(--font-primary);
    --text-placeholder: 500 16px var(--font-primary);
    --text-link: 500 14px var(--font-primary);
    --text-nav: 400 18px var(--font-primary);
    --text-dropdown: 400px 16px var(--font-primary);
    --text-nav-logout: 400 16px var(--font-primary);
    --icon: 20px;

    /* ===== BORDER RADIUS ===== */
    --border-radius-primary: 20px;
    --border-radius-secondary: 10px;
    --border-radius-input: 50px;

    /* ===== COLORS ===== */
    --color-primary-dark-blue-bg: #140728;
    --color-primary-dark-purple-sidebar: #3B2563;
    --color-primary-dark-purple-input: rgba(51, 32, 87, 0.4); /* #3B2563 */
    --color-primary-dark-purple-topbar: #332057;
    --color-primary-dark-purple-dropdown: #20113B;
    --color-primary-dark-purple-bg-dropfown: rgba(59, 37, 99, 0.6);

    --color-primary-dark-purple: #290066;
    --color-secondary-dark-purple: rgba(41, 0, 102, 0.8); /* #290066 */
    --color-medium-purple: #5E1193;
    --color-medium-purple-shadow: rgba(94, 17, 147, 0.8); /* #5E1193 */
    --color-light-purple: #9738EDFF;
    --color-extra-light-purple: #B99FFF;
    --color-light-purple-shadow: rgba(185, 159, 255, 0.6); /* #B99FFF */
    --color-extra-light-purple-shadow: #9B78FAFF;
    --color-extra-light-purple-bg: rgba(155, 120, 250, 0.4); /* #9B78FAFF */
    --color-bg-purple: rgba(151, 56, 237, 0.3); /* #9738EDFF */
    --color-dark-blue: #0E103D;
    --color-medium-blue: #152FA9;
    --color-light-blue: #392ABE;
    --color-light-blue-border: #262BA3;
    --color-light-blue-bg: rgba(38, 43, 163, 0.6); /* #262BA3FF */

    --color-primary-pink: #FFA6FE;
    --color-secondary-pink: rgba(212, 129, 211, 0.8); /* #D481D3FF */
    --color-tertiary-pink: #FFD1FE;
    --color-input-pink: #D481D3;
    --color-active-nav-pink: #543E82;
    --color-light-pink: #EB7A96;
    --color-medium-pink: #E3008C;

    --color-error-extra-red: #6e0000;
    --color-error-red: #ff5b5b;

    --color-white: #ffffff;
    --color-light-white: rgba(255, 255, 255, 0.8);
    --color-grey: #828991;
    --color-grey-border: rgba(117, 117, 117, 0.3);
    --color-grey-bg-input: rgba(102, 111, 121, 0.1);

    --color-badge-completed-bg: #00A42C; /* stroke */
    --color-barge-completed-shadow: #85FF80;
    --color-badge-completed-text: #003D16;

    --color-badge-paused-bg: #A786F5; /* stroke, shadow */
    --color-badge-paused-text: #4C338D;

    --color-badge-planning-bg: #F06582; /* stroke, shadow */
    --color-badge-planning-text: #8A011E;

    --color-badge-watching-bg: #FFD700; /* stroke, shadow */
    --color-badge-watching-text: #7D4822;

    --color-badge-dropped-bg: #666F79; /* stroke */
    --color-badge-dropped-text: #262424;
}
